* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.9%;
}

body {
  background-color: #d1d1d1;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
}

header {
  background-color: black;
  height: 9.6rem;
}

nav {
  color: #ffd700;
  padding: 4rem;
}

nav h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

main {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-start;
}

.dm-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.9rem;
  max-width: 20rem;
  padding: 1.5rem;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.795);
}

.dm-card-container img {
  width: 15rem;
  height: 15rem;
}

.card-body {
  justify-content: end;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}
