@import "./sidebar.css";
:root {
  --gryffindor-red: #7f0909;
  --gryffindor-yellow: #ffc500;
  --slytherin-green: #0d6217;
  --slytherin-gray: #aaa;
  --hufflepuff-yellow: #eee117;
  --hufflepuff-black: #000;
  --ravenclaw-blue: #000a90;
  --ravenclaw-caramelo: #946b2d;

  --color-aside-default: #d3a625;
  --color-aside-hover: #ffc500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
}
button {
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.shadow {
  box-shadow: 0px -3px 2px var(--color-aside-default);
}

#app {
  display: flex;
  height: 100vh;
  gap: 0 0.5rem;
}
#main {
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
}
/*

.main {
  margin-left: 2.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem 3rem;
  padding: 2rem 0;
}
*/
/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  background-color: var(--hufflepuff-black);
  bottom: 0;
  position: fixed;
  z-index: 99;
}
footer .logo__title {
  color: var(--color-aside-default);
  font-size: 1.4rem;
}
footer p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 0.2rem;
}

.wrapper {
  height: 35rem;
  width: 100%;
  background: #f4f6f7;
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-left: 4rem;
  margin-top: 1.2rem;
}
.containerCard {
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  flex-shrink: 1;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide.swiper-slide-active {
  visibility: visible;
  opacity: 100%;
}

/* Cartão de Personagem */
.card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 25rem;
  border-radius: 8px;
  opacity: 60%;
}
.card:hover,
.card:hover .card__name {
  opacity: 100%;
  transform: scale(1.07);
  visibility: visible;
}
.card__img img {
  display: block;
  width: 100%;
  border-radius: 8px;

  height: 20rem;
  object-fit: cover;
}
.card__name {
  visibility: hidden;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}
