@import 'Modal.css';
@import 'Book.css';
@import 'Personagem.css';
@import "./sidebar.css";
@import "./Fentico.css";
:root {
  --gryffindor-red: #7f0909;
  --gryffindor-yellow: #ffc500;
  --slytherin-green: #0d6217;
  --slytherin-gray: #aaa;
  --hufflepuff-yellow: #eee117;
  --hufflepuff-black: #000;
  --ravenclaw-blue: #000a90;
  --ravenclaw-caramelo: #946b2d;

  --color-aside-default: #d3a625;
  --color-aside-hover: #ffc500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
}
button {
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.shadow {
  box-shadow: 0px -3px 2px var(--color-aside-default);
}

#app {
  display: flex;
  height: 100vh;
  gap: 0 0.5rem;
}
#main {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  background-color: var(--hufflepuff-black);
  bottom: 0;
  position: fixed;
  z-index: 99;
}
footer .logo__title {
  color: var(--color-aside-default);
  font-size: 1.4rem;
}
footer p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 0.2rem;
}

.libro,
.fentico {
  margin-top: 2rem;
  margin-left: 1rem;
}