@import "./sidebar.css";
:root {
  --gryffindor-red: #7f0909;
  --gryffindor-yellow: #ffc500;
  --slytherin-green: #0d6217;
  --slytherin-gray: #aaa;
  --hufflepuff-yellow: #eee117;
  --hufflepuff-black: #000;
  --ravenclaw-blue: #000a90;
  --ravenclaw-caramelo: #946b2d;

  --color-aside-default: #d3a625;
  --color-aside-hover: #ffc500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
}
button {
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.shadow {
  box-shadow: 0px -3px 2px var(--color-aside-default);
}

#app {
  display: flex;
  height: 100vh;
  gap: 0 0.5rem;
}
#main {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  background-color: var(--hufflepuff-black);
  bottom: 0;
  position: fixed;
  z-index: 99;
}
footer .logo__title {
  color: var(--color-aside-default);
  font-size: 1.4rem;
}
footer p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 0.2rem;
}
/*modal*/

.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.modalContainer.active {
  visibility: visible;
}

.modalConteudo {
  color: #000;
  background-color: #f0f2f5f3;
  padding: 2.4rem;
  width: 100%;
  max-width: 700px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  position: relative;
}
.modalConteudo .fechar {
  font-size: 2rem;
  position: absolute;
  top: -18px;
  right: 3px;
}
.modalConteudo .wrapper {
  display: flex;
  gap: 0 2rem;
}
.wrapper .informacao .description {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.wrapper .informacao .sub-title {
  font-size: 1.3rem;
}
.wrapper .informacao .title {
  font-weight: 600;
  font-size: 2.5rem;
}
/* Cartão de Personagem */
.personagem .wrapper {
  width: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.personagem .card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 25rem;
  border-radius: 8px;
  opacity: 60%;
}
.personagem .card:hover {
  opacity: 100%;
  transform: scale(1.07);
}
.personagem .card__img img {
  display: block;
  width: 100%;
  border-radius: 8px;

  height: 20rem;
  object-fit: cover;
}
.personagem .card__name {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.libro,
.fentico {
  margin-top: 2rem;
  margin-left: 1rem;
}
.box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  transition: all 0.2s;
}
.libro .box:hover {
  box-shadow: 2px 2px 8px rgba(66, 66, 66, 0.671);
}
.libro .box:hover .box-img {
  background-size: 150%;
}
.box-img {
  width: 55%;
  height: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13rem;
  transition: 0.8s;
}
#hp1 {
  background-image: url("../img/hp-1.jpg");
}
#hp2 {
  background-image: url("../img/hp-2.jpg");
}
#hp3 {
  background-image: url("../img/hp-3.jpg");
}
#hp4 {
  background-image: url("../img/hp-4.jpg");
}
#hp5 {
  background-image: url("../img/hp-5.jpg");
}
#hp6 {
  background-image: url("../img/hp-6.jpg");
}
#hp7 {
  background-image: url("../img/hp-7.jpg");
}
#hp8 {
  background-image: url("../img/hp-8.jpg");
}
.box-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.9rem;
  width: 100%;
  height: 100%;
}
p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.box-data .title {
  font-size: 1.6rem;
  font-weight: 700;
}

.fentico .icon-magic-wand {
  color: var(--color-aside-hover);
  font-size: 4rem;
}
.fentico .box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  transition: all 0.2s;
}
.fentico .box-img {
  width: 25%;
  height: 100%;
  background: #040404;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fentico p:first-child {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.fentico .box-data .title {
  font-size: 1.2rem;
  font-weight: 500;
}
