:root {
  --gryffindor-red: #7f0909;
  --gryffindor-yellow: #ffc500;
  --slytherin-green: #0d6217;
  --slytherin-gray: #aaa;
  --hufflepuff-yellow: #eee117;
  --hufflepuff-black: #000;
  --ravenclaw-blue: #000a90;
  --ravenclaw-caramelo: #946b2d;

  --color-aside-default: #d3a625;
  --color-aside-hover: #ffc500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  background: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 3.5rem;
}

ul {
  list-style: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15rem;
  height: 100%;

  top: 0;
  left: 0;
  position: fixed;

  background: var(--hufflepuff-black);
  color: var(--color-aside-default);

  padding-top: 40px;
  z-index: 1;
  box-shadow: 3px 0px 2px var(--color-aside-default);
}

.sidebar-logo {
  padding: 1rem;
  margin: 0 auto;

  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition: color 0.5s;
}

.sidebar-logo:hover {
  color: var(--color-aside-hover);
}

.sidebar-nav {
  width: 100%;
  height: 100%;
}

.sidebar-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  padding: 1.2rem;
  margin-top: 5rem;
}

.sidebar-nav-item-button {
  padding: 0.9rem 2rem;
  font-size: 1.6rem;
  color: #46444b;
  line-height: 150%;
  background: transparent;

  border: 1px solid #46444b;
  border-radius: 0.8rem;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.active > .sidebar-nav-item-button,
.sidebar-nav-item-button:hover {
  border-radius: 3rem;
  color: var(--ravenclaw-caramelo);
  border-color: var(--color-aside-hover);
}

main {
  margin-left: 15.2rem;
  height: 100%;
}

.magico-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem 3rem;
  padding: 2rem;
  margin-top: 2rem;
}

.magico-card {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.magico-card:hover {
  top: -20px;
  box-shadow: 5px 20px 3px var(--slytherin-gray);
}

.magico-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.magico-card-image {
  border-radius: 1rem;
  height: 20rem;
}

.magico-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.9rem 2rem;
  margin-bottom: 1.6rem;
  visibility: hidden;

  color: var(--hufflepuff-black);
}

.magico-card-info-active {
  visibility: visible;
}

.magico-card-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.icon-arrow-down-circle {
  cursor: pointer;
  font-size: 2rem;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 9rem;
  margin-top: 0.2rem;
  margin-left: 10rem;
  padding: 3.2rem;
  background-color: var(--hufflepuff-black);

  box-shadow: 0px -3px 2px var(--color-aside-default);

  bottom: 0;
  right: 0;
  position: fixed;
}

footer p {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--gryffindor-yellow);
}

footer .sub-footer {
  font-size: 1.6rem;
  font-weight: 300;
}
