:root {
  --gryffindor-red: #7f0909;
  --gryffindor-yellow: #ffc500;
  --slytherin-green: #0d6217;
  --slytherin-gray: #aaa;
  --hufflepuff-yellow: #eee117;
  --hufflepuff-black: #000;
  --ravenclaw-blue: #000a90;
  --ravenclaw-caramelo: #946b2d;

  --color-aside-default: #d3a625;
  --color-aside-hover: #ffc500;
}
